/* style.css */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-evenly;
    /* padding: 16px; */
    background-color: rgba(112, 18, 42, 0.764);
    gap: 10rem;

}

.link-containers {
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 2rem;
    list-style-type: none;
}

.link-containers li {
    color: white;
}

.header-left, .header-right {
    padding: 1.5rem;
    display: flex;
    align-items: center;
}

.header-right .link-containers {
    gap: 4rem;
}

.header-title {
    font-size: 1.5rem;
    font-weight: 900;

}

.header-items {
    font-size: 16px;
}

.top-content {
    display: flex;
    justify-content: center;
    padding: 4rem;
    background-color: rgba(112, 18, 42, 0.764);
    gap: 10rem;
}

.text-box {
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 320px;
}

.text-box-button {
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    padding: 5px;
    width: 20%;
    background-color: black;
    color: white;
    font-weight: 200;
}

.text-box-img {
    width: 480px;
    height: 320px;
}

.text-box-img img {
    width: 30rem;
}